TELEGRAM_BOT_TOKEN=
MATTERMOST_URL=
MATTERMOST_TOKEN=

# Optional: set HTTPS proxy URL for outgoing requests (e.g. to Mattermost)
HTTPS_PROXY=

# Optional: set to 0 to disable SSL certificate validation for private or self-signed servers
# NODE_TLS_REJECT_UNAUTHORIZED=0
